body {
  font-family: Arial;
  margin: 0px;
}

h1 {
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  text-transform: uppercase;
}

/* MAIN PAGE 1 */
.player-info-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 90vh;
}

.player-one-and-two {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.player-inputs {
  background-color: black;
  padding: 30px;
  width: 90%;
  margin-bottom: 100px;
}

.input-box {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.player-one,
.player-two {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  width: 50%;
  text-transform: uppercase;
}

.begin-game-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px;
}

.begin-btn {
  padding: 15px;
  width: 30%;
  background-color: grey;
  color: white;
  font-size: 25px;
  margin: 30px 0px;
}

input {
  width: 68%;
  padding: 20px
}

/* MAIN PAGE 2 */
main.game-page {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

/* ASIDE */
.bottom-two-match {
  display: flex;
  justify-content: center;
}

.completed-match {
  background-color: #808080;
  margin: 12px;
  width: 50px;
  height: 70px;
}

.completed-match.style {
  background-position: center bottom;
  background-size: cover;
}

.matched-cards {
  width: 100%;
}

.match-counter {
  margin-top: 60px;
  text-transform: uppercase;
}

.match-counter-number {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 0;
}

.scoreboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  ;
}

.scoreboard p {
  font-weight: 100;
  margin: 10px;
  text-transform: uppercase;
}

.side-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: #000000;
  color: #FFFFFF;
}

.top-three-match {
  display: flex;
  justify-content: center;
}

/* GAME SECTION */
.back {
  background-position: center bottom;
  background-size: cover;
  transform: rotateY(180deg);
}

.card-container {
  perspective: 1000px;
  position: relative;
}

.card-container,
.front,
.back {
  height: 300px;
  width: 200px;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.game-section {
  position: relative;
  background-color: #CBD0D6;
  width: 80%;
  height: 90vh;
}

.guessing-cards {
  background-color: white;
  border: 5px solid black;
  box-shadow: 7px 4px 15px 0px rgba(0, 0, 0, 0.42);
  color: black;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

#position1 {
  display: inline-block;
  position: absolute;
  top: 5vh;
  left: 5vw;
  transform: rotate(28deg);
}

#position2 {
  display: inline;
  position: absolute;
  top: 7vh;
  left: 18vw;
  transform: rotate(-16deg)
}

#position3 {
  display: inline;
  position: absolute;
  top: 4vh;
  left: 36vw;
  transform: rotate(12deg)
}

#position4 {
  display: inline;
  position: absolute;
  top: 5vh;
  left: 49vw;
  transform: rotate(-34deg)
}

#position5 {
  display: inline;
  position: absolute;
  top: 8vh;
  left: 63vw;
  transform: rotate(18deg)
}

#position6 {
  display: inline;
  position: absolute;
  top: 40vh;
  left: 5vw;
  transform: rotate(18deg)
}

#position7 {
  display: inline;
  position: absolute;
  top: 36vh;
  left: 22vw;
  transform: rotate(-6deg)
}

#position8 {
  display: inline;
  position: absolute;
  top: 44vh;
  left: 39vw;
  transform: rotate(5deg)
}

#position9 {
  display: inline;
  position: absolute;
  top: 38vh;
  left: 54vw;
  transform: rotate(-24deg)
}

#position0 {
  display: inline;
  position: absolute;
  top: 40vh;
  left: 68vw;
  transform: rotate(28deg)
}

.the-card {
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}

.the-card.flip {
  transform: rotateY(180deg);
}

/* Win Page */
#total-time {
  font-size: 60px;
}

.game-buttons {
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: 200;
  margin: 40px 30px;
  padding: 20px;
  width: 33%;
}

.play-again-button:hover,
.play-again-button:focus {
  cursor: pointer;
  outline: none;
}

.play-buttons {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.win-banner h2 {
  color: white;
  font-size: 100px;
  margin: 0px 0px 60px;
}

.win-message-stats {
  position: relative;
  top: 170px;
}

.win-page {
  align-items: center;
  background-image: url('kyleimages/grouppic.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin: 0;
  text-shadow: 4px 4px black;
}

.win-stats p {
  font-size: 40px;
  margin: 0px;
  text-align: center;
}

/* EFFECT CLASSES */
.hide {
  visibility: hidden !important;
}

.hide-page {
  display: none !important;
}
